:root {
  --background-color: #d5e0ee;
  --heading-color: #1d2d43;
  --text-color: #898e95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  width: 35%;
  height: 55%;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}
img {
  width: 100%;
  border-radius: 10px;
}

.description {
  margin-top: 10%;
}

h1 {
  color: var(--heading-color);
  text-align: center;
}

p {
  margin-top: 10%;
  color: var(--text-color);
  text-align: center;
}

@media (max-width: 900px) {
  main {
    width: 40%;
  }
}

@media (max-width: 700px) {
  main {
    width: 50%;
  }
}

@media (max-width: 550px) {
  main {
    width: 60%;
  }
}

@media (max-width: 450px) {
  main {
    width: 80%;
  }
}
