:root {
  --background-color: #d5e0ee;
  --heading-color: #1d2d43;
  --text-color: #898e95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  width: 35%;
  height: 70%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}
img {
  width: 100%;
  border-radius: 10px;
}

.description {
  margin-top: 10%;
}
